<% include _header.ejs %>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/script.groups.js" defer></script>
<script src="/javascripts/Chart.bundle.min.js"></script>

<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <h1 class="ui teal header"
            style="margin-top: 32px ; margin-left: 32px ; margin-bottom: 32px"><%= group.name() %></h1>
        <div class="ui divider"></div>
        <ul class="nav navbar-nav navbar-right">
            <% if(currentUser){ %>
            <li>
                <a href="/">
                    Hello, <%= currentUser.name() %>
                </a>
            </li>
            <% if (group.adminId.equals(currentUser._id)) { %>
            <li>
                <a id="create-poll" href="javascript:void(0)">
                    Push Poll
                </a>
            </li>
            <% } %>
            <li>
                <a href="/logout">
                    Logout
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>

<div class="container">
    <!-- The polls data -->
    <div class="ui three column grid">
        <% polls.forEach(function (poll) { %>
        <!--<script>
            if(poll.voters.indexOf(currentUser._id)>0){
                // user has voted
            }else{
                // user has not voted
            }
        </script>-->
        <div class="column">
            <div class="ui fluid card" data-pollId="<%= poll._id%>">
                <div class="content">
                    <canvas id="graph-<%= poll._id %>" height="100px" width="100px"></canvas>
                    <!--Lets add a chart-->
                    <script>
                        var ctx = document.getElementById("graph-<%= poll._id %>");
                        ctx.height = 200;
                        ctx.width = 100;
                        var options = {
                            maintainAspectRatio: false
                        }
                        var myChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                labels: ["In Favor", "Opposed", "Not Voted"],
                                datasets: [{
                                    label: '# of Votes',
                                    data: [<%= poll.inFavor %>, <%= poll.opposed %>, <%= poll.notVoted %>],
                                    backgroundColor: [
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 206, 86, 0.2)'
                                    ]
                                }]
                            },
                            options: {
                                maintainAspectRatio: false
                            }
                        });
                    </script>
                </div>
                <div class="content">
                  <div class="header">
                      <%= poll.pollTopic %>
                  </div>
                    <% if (poll.ongoing){ %>
                    <div class="extra content">
                      <% console.log(poll.submittedAt , poll.stipulatedTime , poll.submittedAt + poll.stipulatedTime) %>
                      Expires At : <%= new Date(poll.submittedAt.getTime() + poll.stipulatedTime) %>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons" id="btn-group">
                            <div class="ui basic green button" id="yes-button">Yes</div>
                            <div class="ui basic red button" id="no-button">No</div>
                        </div>
                    </div>
                    <% } else { %>
                        <div class="extra content">
                            Result Declared
                        </div>
                    <% }%>
                </div>

            </div>
        </div>
        <% }); %>
    </div>
</div>
</body>

<% include _footer.ejs %>
