<% include _header.ejs %>
<!-- Include the scripts specific to this view here -->
<script src="/javascripts/script.homepage.js" defer></script>
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <h1 class="ui teal header" style="margin-top: 32px ; margin-left: 32px ; margin-bottom: 32px">Votim</h1>
        <div class="ui divider"></div>
        <ul class="nav navbar-nav navbar-right">
            <% if(currentUser){ %>
            <li>
                <a href="javascript:void(0);">
                    Hello, <%= currentUser.name() %>
                </a>
            </li>
            <li>
                <a id="create_group" href="javascript:void(0);">
                    Create Group
                </a>
            </li>
            <li>
                <a id="join_group" href="javascript:void(0);">
                    Join Group
                </a>
            </li>
            <li>
                <a href="/logout">
                    Logout
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>

<!-- Body of the rest of the page -->
<div class="container">
    <% if(!currentUser){ %>
    <div class="ui middle aligned grid">
        <div class="ui seven wide column">
            <div class="center aligned middle aligned column">
                <div class="ui horizontal divider">
                    <h3>Login</h3>
                </div>
                <div class="ui vertical center aligned raised segment">
                    <form class="ui large form" action="/login" method="POST">
                        <div class="ui stacked segment">
                            <div class="field">
                                <input name="mobile" type="text" placeholder="Mobile Number"/>
                            </div>
                            <div class="field">
                                <input name="password" type="password" placeholder="Password"/>
                            </div>
                            <input type="submit" value="Login" class="ui fluid large teal submit button"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="ui center aligned middle aligned two wide column">
            <h3 class="ui teal header">
                Or
            </h3>
        </div>

        <div class="ui seven wide column">
            <div class="ui horizontal divider">
                <h3>Signup</h3>
            </div>
            <div class="ui vertical center aligned raised segment">
                <form class="ui large form" action="/signup" method="POST">
                    <div class="ui stacked segment">
                        <div class="field">
                            <input name="username" type="text" placeholder="username"/>
                        </div>
                        <div class="field">
                            <input name="mobile" type="text" placeholder="Mobile Number"/>
                        </div>
                        <div class="field">
                            <input name="email" type="text" placeholder="Email Id"/>
                        </div>
                        <div class="field">
                            <input name="password" type="password" placeholder="Password"/>
                        </div>
                        <input type="submit" value="Signup" class="ui fluid large teal submit button"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% } %>

    <!-- Error Alert boxes -->
    <% errors.forEach(function(error){ %>
    <div class="ui negative message">
        <div class="header">
            <%= error %>
        </div>
    </div>
    <% }); %>

    <!-- Information Alert boxes -->
    <% infos.forEach(function(info){ %>
    <div class="alert alert-info" role="alert">
        <%= info %>
    </div>
    <% }); %>
    <!-- The list of the groups -->
    <% if (groups) { %>
    <div class="ui three column grid">
        <% groups.forEach(function (group, idx) { %>
        <div class="column">
            <a href="javascript:void(0)" class="list-item" data-groupId="<%= group._id %>"
               style="text-decoration: none">
                <div class="ui fluid card">
                    <div class="ui image fluid">
                        <img src="/images/background_<%= (idx % 6) + 1 %>.png">
                    </div>
                    <div class="content">
                        <a class="header"><%= group.name() %></a>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i>
                            <%= group.members() %>
                        </a>
                    </div>
                </div>
            </a>
        </div>
        <% }); %>
    </div>
    <% } %>
</div>
</body>
<% include _footer.ejs %>
